.container {
  max-width: 52.5rem;
  width: 100%;

  margin: 0 auto;
}

header {
  span.category {
    display: block;
    margin-top: 2rem;

    font-size: 2.25rem;
    font-weight: 600;
    color: var(--gray);
  }

  span {
    color: var(--white);
  }
}

main {
  width: 100%;
  margin-top: 5.625rem;

  .movies-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4.75rem;
    list-style: none;
  }
}

@media (max-width: 768px) {
  main {
    .movies-list {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  header {
    span.category {
      display: block;
      padding-left: 2rem;
    }
  }
}
